annotated-types   
anyio            
certifi          
click             
colorama          
dnspython        
exceptiongroup    
fastapi           
h11               
httptools        
Jinja2           
MarkupSafe        
pip              
pydantic          
pydantic_core    
pymongo           
python-dotenv     
python-multipart  
PyYAML            
setuptools       
sniffio           
starlette         
typing_extensions 
uvicorn          
watchfiles        
websockets        
wheel             